#menu
  %button Cargar BD
  %button Cargar BD

%table
  %tr
    %td
      #prev_map
        %a{:href => "#"}
          %div <
    %td{:id => 'map_container'}
      #map
    %td 
      #next_map
        %a{:href => "#"}
          %div >
